
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: pink;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }
  

  h1, h2, h3 {
    color: cadetblue;
    margin-bottom: 10px;
  }

  
  a {
    color: red;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 2%;
    align-items: center;
  }